@charset "UTF-8";

html {
    font-size: 14px;
}

body{
    background-color: #EEEEEE;
    color: #333333;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.container2{
    max-width: 600px;
    margin: 0 auto;
}

/* header */
header img{
    padding-top: 60px;
    padding-bottom: 9px;
}


/* main */
.main1 {
    margin-bottom: 55px;
    object-fit: cover;
}

.main2 li{
    list-style: none;
    padding-bottom: 20px;
}

.main2 li:last-child{
    padding-bottom: 30px;
}

.main2 h2{
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.main2{
    background-color: #ffffff;
    margin-bottom: 60px;
}

.main3 h2{
    font-size: 18px;
    padding-bottom: 10px;
}

.detail{
    display: flex;
}

.detail img{
    margin-right: 60px;
}

.text h2{
    font-size: 18px;
    padding-bottom: 20px;
}

.textA{
    padding: 17px 0;
    border-top:1px solid #DEDEDE ;
    border-bottom:1px solid #DEDEDE ;
}

.text1{
    list-style: none;
    display: flex;
}

.A{
    width: 25%;
}

.B{
    width: 75%;
}

.textB p{
    padding-top: 25px;
    padding-bottom: 20px;
}

.textC {
    border-bottom: 1px solid #000000;
    width: 154px;
}

/* footer */
footer p{
    padding-top: 115px;
    font-size: 10px;
    padding-bottom: 15px;
}


/* スマホ版 */

@media screen and (max-width: 1024px){
    header{
        padding: 0 10px;
    }

    .main1{
        padding: 0 10px;
    }

    .main1 img{
        width: 100%;
    }

    .container2{
        padding: 0 40px;
    }

    .detail{
        flex-direction: column;
    }

    .detail img{
        width: 100%;
        padding-bottom: 25px;
    };
}